@import './resets.css';
@import './screen-reader.css';
@import './variables.css';

body {
  font-family: 'Roboto', sans-serif;
  color: var(--grey-500);
  background-color: var(--grey-100);
  font-size: 1rem;
}
