:root {
  /* Colors */
  --grey-100: #f8f8f8;
  --grey-200: #efefef;
  --grey-300: #e6e6e6;
  --grey-400: #9d9d9d;
  --grey-500: #4a4a4a;

  --yellow-400: #feb902;

  /* borders */
  --border-grey-100: 1px solid var(--grey-200);

  /* radii */
  --radius-3: 3px;
  --radius-default: 4px;
  --radius-circle: 50%;
}
