.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@supports (-webkit-touch-callout: none) {
  .page {
    min-height: -webkit-fill-available;
  }
}

.main {
  flex-grow: 1;
  display: flex;
}

.container {
  background: #ffffff;
  border-radius: var(--radius-3);
}

@media screen and (min-width: 768px) {
  .container {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  }
}

.footer {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.57;
}
