.searchContainer {
  display: flex;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: var(--border-grey-100);
}

.searchContainer:focus-within {
  /* for firefox */
  outline: auto 2px Highlight;
  /* for safari and chromium-based browsers */
  outline: auto 1px -webkit-focus-ring-color;
  border: none;
}

.searchInput {
  width: 100%;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
}

.searchInput:focus {
  outline: none;
}

.label {
  composes: sr-only from global;
}

.searchIcon {
  margin-right: 0.75rem;
}
