.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 1.25rem;
  }
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.2;
}

.title button {
  padding: 0;
  padding-right: 1rem;
}

@media screen and (min-width: 768px) {
  .title h1 {
    font-size: 1.5rem;
    line-height: 1.33;
  }
}

.title button {
  border: none;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
}

.summaries {
  display: none;
  font-size: 14px;
  line-height: 1.43;
}

.summaries > *:not(:last-child) {
  border-right: var(--border-grey-100);
}

.summaries b {
  font-size: 1.25rem;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .summaries {
    display: flex;
    align-items: center;
  }
}
