.buttons {
  padding-top: 1rem;
  display: flex;
}

.buttons > * {
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .filters {
    display: grid;
    width: 100%;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  }

  .buttons {
    padding-top: 0;
  }
}
